---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Robert Totoro - Trener personalny">
	<main>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum similique, repellat consequatur necessitatibus earum tempore commodi! Sed possimus delectus similique deserunt? Labore modi aperiam placeat neque, autem ad nam ullam?
	</main>
</Layout>

