---
import Image from 'astro/components/Image.astro';

export interface Props {
    text: string;
    icon: ImageMetadata;
}

const { text, icon } = Astro.props;
---



<div class="contact-info">
    <Image src={icon} alt="logo" width={50} height={50} />
    <p>{text}</p>
</div>

<style>

.contact-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--accent-light);
    text-align: right;
    width: 100%;
    text-shadow: 0 0 10px var(--black);
}


</style>