<div class="footer">
    <p>&copy; 2024 <a href="https://www.example.com">kmk00</a></p>
</div>

<style>

    .footer {
        background-color: var(--secondary);
        color: var (--secondary-light);
        text-align: center;

        p{
            color: var(--secondary-light);
        }

        a{
            color: var(--secondary-light);
            text-decoration: none;
        }

    }
</style>