---
import Image from "astro/components/Image.astro" 
import logo from "../images/logo.png"
import NavigationMobile from "./NavigationMobile"
---

<nav class="nav">
  <div class="content-box">
    <a href="#hero-section">
      <Image src={logo} alt="logo" width={50} height={50} />
    </a>
    <ul>
      <li><a href="#about-me">o mnie</a></li>
      <li><a href="#offer">oferta</a></li>
      <li><a href="#testimonials">opinie</a></li>
      <li><a href="#faq">pytania</a></li>
      <li><a href="#contact">kontakt</a></li>
    </ul>
    <div class="nav-mobile">
      <NavigationMobile client:load />
    </div>
  </div>
</nav>

<style>
 
  .nav {
    background-color: var(--secondary);
  }


  .nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav a {
    font-family: Freshman, sans-serif;
    text-decoration: none;
    color: var(--white);
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

  .nav a:hover {
    text-decoration: underline;
    color: var(--accent-light);
  }

  .nav-mobile{
    display: none;
  }

  @media (max-width: 630px) {
     .content-box > a, .nav ul{
      display: none;
    }
    .nav-mobile{
      display: block;
    }
  }

  .content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
  }

</style>